<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @good.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @good.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @good.phone %>
</p>

<p>
  <strong>Itemsdonate:</strong>
  <%= @good.itemsdonate %>
</p>

<%= link_to 'Edit', edit_good_path(@good) %> |
<%= link_to 'Back', goods_path %>
